* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 48px;
}

.temp-logo {
  color: #9163cb;
  padding: 20px 0;
  display: inline-block;
}

/* Header */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

nav ul {
  list-style: none;
  display: inline-block;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #9163cb;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}

.left-hero-section h1,
p {
  color: #333;
}

.left-hero-h1 {
  font-size: 54px;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-bottom: 24px;
}

.left-hero-prgrph {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: -0.5px;
  margin-bottom: 24px;
}

.left-hero-btn {
  background-color: #9163cb;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.left-hero-btn:hover {
  background-color: #573b79;
}

.right-hero-section img {
  width: 700px;
  height: 440px;
}
